.contact{
    height:800px;
    /* width:50%; */
    background-image: url('https://i.ibb.co/94JKgqd/download-6.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* opacity: 0.5; */
}