@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body{
    font-family: 'Poppins', sans-serif;

}

.admin{
    height: 600px;
}
.board{
    background-color: rgb(194, 207, 241);
    color:black;
}